<body>
  <nav>
    <div class="brand">Para aquellos con aptitud en la fuerza</div>
   
  </nav>
    <header>
     
      <section class="banner1">
        <header>
          <h2>Guerreros</h2>
          <p class="banner-text">
            Adéntrate en el apasionante mundo de la maestría guerrera con nuestro curso "Forjando Campeones". Este programa intensivo está diseñado para transformar a individuos valientes en auténticos guerreros, dotándolos de las habilidades esenciales para enfrentar desafíos con coraje y destreza.
          </p>
        
          <button mat-flat-button color="primary"  routerLink="/dashboard/classes/2">Ir a curso:</button>
        </header>
      </section>
      <nav>
        <div class="brand">Para quienes nunca se cansan de aprender</div>
       
      </nav>
      <section class="banner2">
       
        <header>
          <h2>Magos</h2>
          <p class="banner-text">
            Embárcate en un viaje fascinante hacia el mundo de la magia con nuestro curso "Desvelando los Misterios Mágicos". Este programa único está diseñado para aquellos que buscan dominar las artes arcanas y desbloquear el poder de la magia. Desde hechizos encantadores hasta la comprensión de antiguos grimorios, este curso te sumergirá en el asombroso universo de la magia.
          </p>
          <button mat-flat-button color="primary" routerLink="/dashboard/classes/1">Ir a curso:</button>
        </header>
      </section>
      <nav>
        <div class="brand">Para quienes prefieren terminar los problemas de forma rápida y eficiente</div>
       
      </nav>
      <section class="banner3">
       
        <header>
          <h2>Pícaro</h2>
          <p class="banner-text">
            Sumérgete en las artes astutas y habilidades furtivas con nuestro curso "Maestría en las Artes del Pícaro". Diseñado para aquellos que prefieren las sombras y la astucia, este programa te guiará a través de la formación en sigilo, engaño y habilidades ingeniosas. Conviértete en un maestro de la intriga y la destreza táctica.
          </p>
          <button mat-flat-button color="primary" routerLink="/dashboard/classes/3">Ir a curso:</button>
        </header>
      </section>
    </header>
    <main>
      <article>
        <h1>¡Descubre el Programa de Campeones Multidisciplinarios!</h1>

        <p>Transforma tu destino con nuestro innovador programa que combina tres cursos especializados, diseñados para desarrollar habilidades únicas en guerreros, magos y pícaros. Este programa proporciona una formación integral para destacar en cualquier situación.</p>
    
        <h2>1. Maestría Guerrera: Forjando Campeones</h2>
        <p>Sumérgete en el mundo de la maestría guerrera, desde los principios fundamentales del combate hasta estrategias psicológicas avanzadas. Con un enfoque en la ética guerrera y la formación física intensiva, este curso te transformará en un guerrero hábil y equilibrado, listo para enfrentar cualquier desafío.</p>
    
        <h2>2. Arcanos de la Magia: Desvelando los Misterios Mágicos</h2>
        <p>Explora las artes arcanas y descubre el asombroso poder de la magia. Desde los fundamentos mágicos hasta la maestría en hechicería elemental, este curso te sumergirá en un universo de misterio. Aprende a canalizar energías místicas, domina conjuros avanzados y conviértete en un mago capaz de dejar su marca en el mundo.</p>
    
        <h2>3. Sombras Astutas: Maestría en las Artes del Pícaro</h2>
        <p>Desarrolla la astucia y la habilidad en el arte del pícaro. Desde el sigilo y el engaño hasta las habilidades de ladronzuelo, este curso te convertirá en un maestro de la intriga. Aprende a moverte con elegancia en las sombras, domina el arte del combate estratégico y sigue un código ético que distingue a los auténticos pícaros.</p>
    
      </article>
    </main>
    <footer>
      Diego Herrera Tirado
    </footer>
  </body>
  